---
const DISCORD_INVITE = "https://discord.gg/ZYPjtUE6hh";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NewJeans - Discord Oficial</title>
    <meta http-equiv="refresh" content={"0; url=" + DISCORD_INVITE + ""} />
  </head>
  <body> </body>
</html>
