<header
  class="fixed w-full top-0 left-0 flex flex-row items-center justify-around p-4"
>
  <!-- LOGO -->
  <div class="ml-4 p-1 flex flex-row items-center gap-2">
    <img src="/logo.png" width="50" alt="NewJeans Logo" />
    <h2 class="font-black text-xl">NEWJEANS</h2>
  </div>

  <nav class="flex-1 w-full flex justify-center gap-6">
    <a href="/" class="text-white hover:text-gray-300">Home</a>
    <a href="/" class="text-white hover:text-gray-300">Tierlist</a>
    <a href="/" class="text-white hover:text-gray-300">Rules</a>
    <a href="/" class="text-white hover:text-gray-300">Forums</a>
    <a href="/" class="text-white hover:text-gray-300">News</a>
    <a href="/" class="text-white hover:text-gray-300">Staff</a>
  </nav>

  <div class="flex flex-row items-center justify-center space-x-4">
    <button
      class="uppercase text-[15px] px-5 py-2 font-mono rounded-md bg-purple-900 border-2 border-purple-600"
    >
      NewJeans.lat
    </button>
  </div>
</header>
